header {
    height: 100vh;
}
.navbar {
    padding: 2rem;
    background-color: $blue;
    box-shadow: 0px 0px 10px 5px $black;
    position: fixed;
    width: 100%;
    z-index: 1000;

    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo img {
        height: 4rem;
    }

    &__networks {
        display: none;

        & a i {
            margin-right: 25px;
            color: $gray;
            font-size: 2.5rem;
            transition: .3s;

            &:hover {
                color: $white;
            }
        }

        @include tablet {
            & {
                display: flex;
                justify-content: center;
                width: 100%;
                position: absolute;
                bottom: 12rem;
            }
        }
    }

    &__links {
        display: flex;

        & li {
            margin-right: 8rem;

            & a {
                color: $gray;
                transition: .3s;

                &:hover {
                    color: $white;
                }
            }
        }

        @include tablet {
            & {
                display: none;

                &.toggle {
                    display: flex;
                    flex-direction: column;
                    background-color: $blue;
                    height: 100vh;
                    width: 50%;
                    position: absolute;
                    left: 0;
                    top: 8.7rem;
                    animation: bounceInLeft; 
                    animation-duration: .3s;
                    z-index: 1000;
                }

                & li {
                    text-align: center;
                    margin: 0 0 15rem 0;

                    &:first-child {
                        margin-top: 2rem;
                    }
                }
            }
        }
    }
}

.hamburger-menu {
    flex-flow: column wrap;
    width: 2.5rem;
    cursor: pointer;
    display: none;

    & .bar {
        height: 2px;
        background: $white;
        border-radius: 5px;
        margin: 6px 0px;
    }

    @include tablet {
        & {
            display: block
        }
    }
}

.home {
    position: relative;
    height: 80vh;
    margin-top: 18rem;

    @media (max-width: 590px) {
        & {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100vh;
            margin: 0;
        }
    }

    & h1 {
        font-size: 7rem;
        color: $gray;
        margin: 10rem 0 3rem 15rem;

        @media (max-width: 590px) {
            & {
                text-align: center;
                font-size: 8vh;
                margin: 0;
            }
        }

        & span {
            color: $light-blue;
        }
    }

    & .btn {
        margin: 10rem 0 3rem 15rem;

        @media (max-width: 590px) {
            & {
                margin: 0 auto;
            }
        }
    }

    &__networks {
        position: absolute;
        bottom: 5rem;
        margin: 0 0 0 15rem;

         @include tablet {
             & {
                 display: none;
             }
         }

        & i {
            color: $gray;
            font-size: 3rem;
            margin-right: 55px;
            transition: .3s;
            
            &:hover {
                color: $light-blue;
            }
        }
    }
}
