@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700;900&display=swap");
html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth; }

*, *::before, *::after {
  box-sizing: inherit; }

body {
  font-family: "Poppins", sans-serif; }

* {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  font-size: 1.8rem; }

h2 {
  font-size: 4.5rem;
  color: #599bfd; }

p {
  font-size: 1.8rem;
  color: #dddddd; }

img {
  max-width: 100%;
  max-height: 100%; }

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px; }

@media (max-width: 590px) {
  .button {
    display: flex;
    justify-content: center;
    margin-top: 3rem; } }

.btn {
  padding: 1.5rem 2rem;
  background-color: #599bfd;
  border-radius: 1rem;
  color: #dddddd;
  font-weight: 600;
  transition: .3s; }
  .btn:hover {
    background-color: #2d81ff;
    color: #ffff; }
  .btn i {
    margin-right: 5px; }

.tooltip {
  position: relative; }
  .tooltip:hover .tooltip-box {
    display: inline-block; }
  .tooltip-box {
    display: none;
    position: absolute;
    bottom: -4rem;
    right: -11.6rem;
    background-color: #dddddd;
    line-height: 2rem;
    z-index: 500;
    text-align: center;
    color: #000;
    font-size: 1.4rem;
    padding: 5px 10px;
    width: 15rem;
    border-radius: 5px; }
    .tooltip-box::after {
      content: "";
      display: block;
      position: absolute;
      top: -5px;
      left: 15px;
      border-bottom: 7px solid #dddddd;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent; }

header {
  height: 100vh; }

.navbar {
  padding: 2rem;
  background-color: #121821;
  box-shadow: 0px 0px 10px 5px #000;
  position: fixed;
  width: 100%;
  z-index: 1000; }
  .navbar__flex {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .navbar__logo img {
    height: 4rem; }
  .navbar__networks {
    display: none; }
    .navbar__networks a i {
      margin-right: 25px;
      color: #dddddd;
      font-size: 2.5rem;
      transition: .3s; }
      .navbar__networks a i:hover {
        color: #ffff; }
    @media (max-width: 760px) {
      .navbar__networks {
        display: flex;
        justify-content: center;
        width: 100%;
        position: absolute;
        bottom: 12rem; } }
  .navbar__links {
    display: flex; }
    .navbar__links li {
      margin-right: 8rem; }
      .navbar__links li a {
        color: #dddddd;
        transition: .3s; }
        .navbar__links li a:hover {
          color: #ffff; }
    @media (max-width: 760px) {
      .navbar__links {
        display: none; }
        .navbar__links.toggle {
          display: flex;
          flex-direction: column;
          background-color: #121821;
          height: 100vh;
          width: 50%;
          position: absolute;
          left: 0;
          top: 8.7rem;
          animation: bounceInLeft;
          animation-duration: .3s;
          z-index: 1000; }
        .navbar__links li {
          text-align: center;
          margin: 0 0 15rem 0; }
          .navbar__links li:first-child {
            margin-top: 2rem; } }

.hamburger-menu {
  flex-flow: column wrap;
  width: 2.5rem;
  cursor: pointer;
  display: none; }
  .hamburger-menu .bar {
    height: 2px;
    background: #ffff;
    border-radius: 5px;
    margin: 6px 0px; }
  @media (max-width: 760px) {
    .hamburger-menu {
      display: block; } }

.home {
  position: relative;
  height: 80vh;
  margin-top: 18rem; }
  @media (max-width: 590px) {
    .home {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100vh;
      margin: 0; } }
  .home h1 {
    font-size: 7rem;
    color: #dddddd;
    margin: 10rem 0 3rem 15rem; }
    @media (max-width: 590px) {
      .home h1 {
        text-align: center;
        font-size: 8vh;
        margin: 0; } }
    .home h1 span {
      color: #599bfd; }
  .home .btn {
    margin: 10rem 0 3rem 15rem; }
    @media (max-width: 590px) {
      .home .btn {
        margin: 0 auto; } }
  .home__networks {
    position: absolute;
    bottom: 5rem;
    margin: 0 0 0 15rem; }
    @media (max-width: 760px) {
      .home__networks {
        display: none; } }
    .home__networks i {
      color: #dddddd;
      font-size: 3rem;
      margin-right: 55px;
      transition: .3s; }
      .home__networks i:hover {
        color: #599bfd; }

footer {
  margin-top: 4rem;
  background-color: #121821;
  padding: 2.5rem;
  text-align: center; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth; }

*, *::before, *::after {
  box-sizing: inherit; }

body {
  font-family: "Poppins", sans-serif; }

* {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  font-size: 1.8rem; }

h2 {
  font-size: 4.5rem;
  color: #599bfd; }

p {
  font-size: 1.8rem;
  color: #dddddd; }

img {
  max-width: 100%;
  max-height: 100%; }

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px; }

@media (max-width: 590px) {
  .button {
    display: flex;
    justify-content: center;
    margin-top: 3rem; } }

.btn {
  padding: 1.5rem 2rem;
  background-color: #599bfd;
  border-radius: 1rem;
  color: #dddddd;
  font-weight: 600;
  transition: .3s; }
  .btn:hover {
    background-color: #2d81ff;
    color: #ffff; }
  .btn i {
    margin-right: 5px; }

.tooltip {
  position: relative; }
  .tooltip:hover .tooltip-box {
    display: inline-block; }
  .tooltip-box {
    display: none;
    position: absolute;
    bottom: -4rem;
    right: -11.6rem;
    background-color: #dddddd;
    line-height: 2rem;
    z-index: 500;
    text-align: center;
    color: #000;
    font-size: 1.4rem;
    padding: 5px 10px;
    width: 15rem;
    border-radius: 5px; }
    .tooltip-box::after {
      content: "";
      display: block;
      position: absolute;
      top: -5px;
      left: 15px;
      border-bottom: 7px solid #dddddd;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent; }

body {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%); }

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1582px 1176px #FFF , 1984px 680px #FFF , 629px 1641px #FFF , 139px 1833px #FFF , 443px 1131px #FFF , 184px 1897px #FFF , 1576px 662px #FFF , 1124px 125px #FFF , 552px 1984px #FFF , 951px 1759px #FFF , 1686px 1119px #FFF , 1274px 596px #FFF , 561px 11px #FFF , 1911px 362px #FFF , 1739px 248px #FFF , 1045px 1204px #FFF , 1094px 506px #FFF , 1531px 1313px #FFF , 1137px 1366px #FFF , 1106px 967px #FFF , 547px 1273px #FFF , 1597px 644px #FFF , 80px 75px #FFF , 258px 181px #FFF , 626px 1675px #FFF , 1428px 738px #FFF , 1930px 318px #FFF , 1482px 194px #FFF , 1807px 417px #FFF , 527px 1544px #FFF , 295px 1146px #FFF , 1237px 1591px #FFF , 1079px 1627px #FFF , 1929px 618px #FFF , 1289px 1315px #FFF , 932px 212px #FFF , 1397px 264px #FFF , 88px 1471px #FFF , 230px 1994px #FFF , 432px 1783px #FFF , 1934px 1601px #FFF , 744px 1722px #FFF , 1551px 387px #FFF , 1094px 318px #FFF , 218px 130px #FFF , 285px 399px #FFF , 1912px 884px #FFF , 863px 365px #FFF , 409px 1204px #FFF , 494px 478px #FFF , 1101px 942px #FFF , 1756px 1340px #FFF , 281px 1043px #FFF , 1000px 153px #FFF , 882px 906px #FFF , 1532px 615px #FFF , 678px 526px #FFF , 1659px 1602px #FFF , 1081px 922px #FFF , 1268px 1946px #FFF , 519px 1128px #FFF , 1588px 1498px #FFF , 286px 1452px #FFF , 1000px 1803px #FFF , 897px 827px #FFF , 978px 128px #FFF , 1722px 1034px #FFF , 1073px 1420px #FFF , 1613px 603px #FFF , 11px 691px #FFF , 704px 1334px #FFF , 171px 1494px #FFF , 622px 91px #FFF , 1391px 561px #FFF , 1740px 947px #FFF , 382px 600px #FFF , 84px 1160px #FFF , 557px 362px #FFF , 1176px 1740px #FFF , 1384px 1815px #FFF , 1369px 1416px #FFF , 1590px 970px #FFF , 379px 492px #FFF , 176px 1891px #FFF , 295px 1542px #FFF , 1279px 1205px #FFF , 538px 1058px #FFF , 443px 881px #FFF , 1088px 345px #FFF , 1950px 1008px #FFF , 1023px 1178px #FFF , 1506px 784px #FFF , 243px 113px #FFF , 1336px 364px #FFF , 1950px 646px #FFF , 311px 142px #FFF , 583px 755px #FFF , 1697px 140px #FFF , 1134px 1061px #FFF , 610px 973px #FFF , 1510px 1920px #FFF , 1366px 1257px #FFF , 594px 1493px #FFF , 165px 1224px #FFF , 1326px 1560px #FFF , 1802px 1222px #FFF , 905px 1614px #FFF , 1490px 1070px #FFF , 941px 444px #FFF , 1370px 435px #FFF , 128px 642px #FFF , 225px 565px #FFF , 73px 291px #FFF , 727px 1418px #FFF , 1119px 124px #FFF , 1245px 1497px #FFF , 952px 1600px #FFF , 824px 1295px #FFF , 1188px 1286px #FFF , 1861px 645px #FFF , 1187px 1283px #FFF , 1039px 382px #FFF , 1438px 597px #FFF , 1473px 1393px #FFF , 1054px 188px #FFF , 749px 535px #FFF , 1235px 154px #FFF , 825px 1257px #FFF , 447px 133px #FFF , 1504px 1533px #FFF , 1904px 1176px #FFF , 1572px 754px #FFF , 101px 1573px #FFF , 760px 496px #FFF , 462px 1463px #FFF , 1813px 611px #FFF , 385px 771px #FFF , 1054px 1225px #FFF , 751px 1416px #FFF , 1038px 1666px #FFF , 875px 1257px #FFF , 1777px 1449px #FFF , 1441px 1069px #FFF , 72px 330px #FFF , 1812px 958px #FFF , 299px 830px #FFF , 1342px 1721px #FFF , 1032px 1686px #FFF , 1056px 123px #FFF , 1906px 244px #FFF , 1851px 132px #FFF , 1938px 67px #FFF , 1066px 1165px #FFF , 650px 538px #FFF , 1024px 698px #FFF , 882px 341px #FFF , 10px 1187px #FFF , 392px 515px #FFF , 701px 1914px #FFF , 1785px 164px #FFF , 1012px 822px #FFF , 653px 1362px #FFF , 995px 706px #FFF , 1360px 1093px #FFF , 1999px 4px #FFF , 451px 115px #FFF , 1427px 1849px #FFF , 1003px 1904px #FFF , 366px 1693px #FFF , 876px 464px #FFF , 1398px 946px #FFF , 135px 848px #FFF , 1026px 1182px #FFF , 1675px 1564px #FFF , 1219px 55px #FFF , 1741px 1793px #FFF , 592px 615px #FFF , 302px 328px #FFF , 892px 404px #FFF , 1881px 1734px #FFF , 1790px 1694px #FFF , 773px 1837px #FFF , 231px 451px #FFF , 1275px 1861px #FFF , 1391px 1047px #FFF , 1576px 341px #FFF , 362px 112px #FFF , 1198px 935px #FFF , 1396px 956px #FFF , 500px 501px #FFF , 1038px 1604px #FFF , 1467px 1302px #FFF , 1969px 534px #FFF , 1812px 1893px #FFF , 935px 780px #FFF , 1306px 872px #FFF , 1826px 774px #FFF , 1px 1416px #FFF , 949px 15px #FFF , 1818px 1963px #FFF , 259px 1795px #FFF , 1735px 1319px #FFF , 862px 1453px #FFF , 1315px 1875px #FFF , 193px 1728px #FFF , 81px 1483px #FFF , 1760px 506px #FFF , 1778px 351px #FFF , 1504px 1788px #FFF , 1195px 698px #FFF , 1417px 1424px #FFF , 1939px 1845px #FFF , 587px 91px #FFF , 1724px 476px #FFF , 1122px 1211px #FFF , 1645px 760px #FFF , 61px 286px #FFF , 1624px 1709px #FFF , 1726px 64px #FFF , 623px 459px #FFF , 396px 1857px #FFF , 691px 300px #FFF , 200px 80px #FFF , 421px 855px #FFF , 582px 620px #FFF , 1854px 1764px #FFF , 1926px 151px #FFF , 1301px 882px #FFF , 919px 909px #FFF , 735px 992px #FFF , 1667px 1357px #FFF , 1496px 321px #FFF , 762px 505px #FFF , 686px 1448px #FFF , 522px 780px #FFF , 660px 710px #FFF , 1133px 531px #FFF , 1161px 367px #FFF , 966px 1238px #FFF , 1269px 1409px #FFF , 687px 1940px #FFF , 593px 986px #FFF , 3px 636px #FFF , 989px 1055px #FFF , 491px 797px #FFF , 1776px 1356px #FFF , 546px 527px #FFF , 1911px 1508px #FFF , 1375px 1462px #FFF , 612px 22px #FFF , 549px 434px #FFF , 1903px 535px #FFF , 1944px 577px #FFF , 668px 666px #FFF , 1104px 1001px #FFF , 546px 562px #FFF , 80px 100px #FFF , 306px 1647px #FFF , 883px 1071px #FFF , 1933px 790px #FFF , 1645px 818px #FFF , 1647px 64px #FFF , 1px 565px #FFF , 1173px 213px #FFF , 1528px 1148px #FFF , 769px 1253px #FFF , 1241px 1627px #FFF , 772px 1472px #FFF , 1544px 1957px #FFF , 851px 1238px #FFF , 126px 504px #FFF , 1837px 634px #FFF , 1224px 849px #FFF , 1465px 1063px #FFF , 761px 1301px #FFF , 1736px 1629px #FFF , 273px 1571px #FFF , 1549px 1879px #FFF , 238px 1930px #FFF , 1951px 464px #FFF , 212px 1093px #FFF , 1850px 1291px #FFF , 949px 1841px #FFF , 1646px 1180px #FFF , 1165px 1781px #FFF , 1654px 1328px #FFF , 1134px 921px #FFF , 1175px 1860px #FFF , 1283px 1918px #FFF , 785px 1009px #FFF , 384px 1894px #FFF , 1682px 885px #FFF , 560px 1221px #FFF , 864px 1719px #FFF , 1166px 858px #FFF , 520px 1617px #FFF , 1077px 1900px #FFF , 1742px 325px #FFF , 1548px 1694px #FFF , 1976px 1997px #FFF , 182px 1085px #FFF , 1579px 1979px #FFF , 1021px 1627px #FFF , 1797px 161px #FFF , 554px 1936px #FFF , 364px 451px #FFF , 359px 874px #FFF , 1371px 163px #FFF , 952px 1503px #FFF , 138px 301px #FFF , 876px 101px #FFF , 1447px 839px #FFF , 1191px 66px #FFF , 671px 598px #FFF , 1696px 1220px #FFF , 505px 408px #FFF , 1188px 1994px #FFF , 1961px 1381px #FFF , 1069px 961px #FFF , 1539px 778px #FFF , 1084px 1342px #FFF , 600px 1143px #FFF , 1690px 511px #FFF , 1129px 41px #FFF , 210px 834px #FFF , 872px 575px #FFF , 688px 754px #FFF , 1905px 126px #FFF , 99px 163px #FFF , 1863px 266px #FFF , 703px 1188px #FFF , 715px 352px #FFF , 980px 478px #FFF , 524px 1899px #FFF , 595px 1522px #FFF , 1089px 1684px #FFF , 947px 312px #FFF , 1845px 58px #FFF , 1202px 73px #FFF , 606px 1631px #FFF , 816px 1544px #FFF , 519px 1082px #FFF , 160px 1254px #FFF , 1054px 118px #FFF , 415px 1176px #FFF , 993px 1179px #FFF , 434px 284px #FFF , 1602px 343px #FFF , 1413px 1655px #FFF , 991px 1745px #FFF , 1275px 1901px #FFF , 1160px 1543px #FFF , 1430px 1411px #FFF , 1185px 312px #FFF , 909px 759px #FFF , 1650px 1163px #FFF , 1419px 1443px #FFF , 1247px 360px #FFF , 1119px 1024px #FFF , 1254px 57px #FFF , 901px 270px #FFF , 1855px 134px #FFF , 1144px 1248px #FFF , 1874px 1896px #FFF , 693px 1811px #FFF , 429px 1613px #FFF , 1076px 1873px #FFF , 227px 602px #FFF , 1249px 568px #FFF , 1512px 1519px #FFF , 1655px 1746px #FFF , 1039px 1657px #FFF , 396px 1868px #FFF , 1559px 1214px #FFF , 1102px 1875px #FFF , 1252px 1189px #FFF , 1894px 234px #FFF , 1072px 436px #FFF , 726px 570px #FFF , 334px 1235px #FFF , 1476px 1831px #FFF , 717px 1750px #FFF , 767px 1061px #FFF , 825px 1380px #FFF , 1701px 1999px #FFF , 1631px 1442px #FFF , 951px 568px #FFF , 942px 1421px #FFF , 796px 565px #FFF , 1223px 603px #FFF , 683px 660px #FFF , 431px 1723px #FFF , 894px 1240px #FFF , 1741px 1409px #FFF , 1329px 1304px #FFF , 13px 1991px #FFF , 1931px 452px #FFF , 308px 1742px #FFF , 1113px 139px #FFF , 1400px 1026px #FFF , 1131px 540px #FFF , 349px 1041px #FFF , 226px 282px #FFF , 246px 1222px #FFF , 1837px 637px #FFF , 1900px 1561px #FFF , 494px 379px #FFF , 45px 53px #FFF , 1799px 1185px #FFF , 665px 247px #FFF , 377px 267px #FFF , 825px 815px #FFF , 1795px 486px #FFF , 722px 454px #FFF , 1282px 1099px #FFF , 115px 3px #FFF , 1527px 503px #FFF , 1855px 539px #FFF , 1658px 800px #FFF , 756px 852px #FFF , 855px 310px #FFF , 125px 465px #FFF , 787px 736px #FFF , 375px 616px #FFF , 1497px 49px #FFF , 81px 205px #FFF , 1326px 173px #FFF , 1582px 1037px #FFF , 166px 403px #FFF , 1551px 1277px #FFF , 1807px 604px #FFF , 1100px 224px #FFF , 1396px 1238px #FFF , 869px 320px #FFF , 1777px 1524px #FFF , 24px 627px #FFF , 1536px 597px #FFF , 1738px 1876px #FFF , 718px 1238px #FFF , 915px 1738px #FFF , 1509px 1452px #FFF , 1608px 1724px #FFF , 1533px 1987px #FFF , 347px 268px #FFF , 1490px 247px #FFF , 1478px 824px #FFF , 1145px 510px #FFF , 1446px 189px #FFF , 1460px 864px #FFF , 341px 1378px #FFF , 608px 612px #FFF , 1320px 1788px #FFF , 22px 1314px #FFF , 372px 187px #FFF , 1759px 1691px #FFF , 1984px 482px #FFF , 328px 144px #FFF , 1470px 640px #FFF , 695px 1855px #FFF , 1491px 553px #FFF , 126px 1399px #FFF , 1916px 1777px #FFF , 83px 1257px #FFF , 234px 1667px #FFF , 839px 702px #FFF , 107px 131px #FFF , 1766px 1602px #FFF , 1451px 783px #FFF , 599px 154px #FFF , 1197px 1661px #FFF , 637px 930px #FFF , 296px 320px #FFF , 1005px 243px #FFF , 146px 1759px #FFF , 1335px 1368px #FFF , 1035px 1873px #FFF , 1069px 1523px #FFF , 679px 473px #FFF , 533px 1638px #FFF , 1183px 1560px #FFF , 1268px 1220px #FFF , 285px 654px #FFF , 1573px 950px #FFF , 1151px 931px #FFF , 286px 233px #FFF , 1110px 1886px #FFF , 76px 269px #FFF , 788px 1222px #FFF , 1300px 1658px #FFF , 742px 1428px #FFF , 475px 1146px #FFF , 1506px 530px #FFF , 1160px 673px #FFF , 1992px 37px #FFF , 22px 1220px #FFF , 798px 320px #FFF , 1795px 1798px #FFF , 161px 1658px #FFF , 447px 1820px #FFF , 1463px 1158px #FFF , 1403px 1679px #FFF , 826px 192px #FFF , 526px 1902px #FFF , 53px 1130px #FFF , 1207px 1486px #FFF , 1796px 286px #FFF , 287px 474px #FFF , 346px 1116px #FFF , 1670px 212px #FFF , 748px 572px #FFF , 421px 223px #FFF , 1112px 5px #FFF , 255px 1696px #FFF , 1734px 1930px #FFF , 1376px 411px #FFF , 8px 1144px #FFF , 1873px 750px #FFF , 1632px 1583px #FFF , 1026px 1384px #FFF , 86px 1623px #FFF , 602px 1241px #FFF , 1514px 1866px #FFF , 189px 1335px #FFF , 1252px 1479px #FFF , 881px 1838px #FFF , 1922px 703px #FFF , 1772px 1481px #FFF , 58px 1390px #FFF , 351px 1628px #FFF , 212px 1849px #FFF , 1451px 1098px #FFF , 1295px 2000px #FFF , 97px 472px #FFF , 871px 202px #FFF , 567px 1552px #FFF , 500px 591px #FFF , 787px 556px #FFF , 738px 1646px #FFF , 1924px 986px #FFF , 1842px 1206px #FFF , 971px 824px #FFF , 1799px 685px #FFF , 1989px 1225px #FFF , 1521px 1310px #FFF , 1956px 491px #FFF , 335px 1562px #FFF , 1520px 1646px #FFF , 1196px 229px #FFF , 1660px 387px #FFF , 995px 708px #FFF , 1281px 370px #FFF , 1783px 1783px #FFF , 719px 969px #FFF , 1743px 51px #FFF , 1785px 75px #FFF , 916px 128px #FFF , 579px 1466px #FFF , 1113px 1335px #FFF , 1525px 1294px #FFF , 42px 1562px #FFF , 1122px 1991px #FFF , 1108px 1323px #FFF , 1428px 449px #FFF , 479px 1431px #FFF , 294px 1621px #FFF , 1159px 1236px #FFF , 624px 1289px #FFF , 376px 385px #FFF , 1418px 1039px #FFF , 1295px 549px #FFF , 1306px 882px #FFF , 494px 420px #FFF , 284px 1550px #FFF , 578px 1522px #FFF , 148px 1078px #FFF , 388px 485px #FFF , 966px 338px #FFF , 1995px 1694px #FFF , 1504px 146px #FFF , 1232px 121px #FFF , 1650px 1119px #FFF , 1366px 832px #FFF , 1231px 1574px #FFF , 1080px 1437px #FFF , 1254px 1581px #FFF , 659px 1125px #FFF , 459px 1537px #FFF , 1776px 372px #FFF , 36px 139px #FFF , 946px 1333px #FFF , 1746px 1032px #FFF , 2px 66px #FFF , 1380px 1520px #FFF , 804px 1087px #FFF , 1384px 181px #FFF , 1919px 828px #FFF , 202px 1122px #FFF , 1762px 833px #FFF , 1461px 1868px #FFF , 1421px 1803px #FFF , 287px 55px #FFF , 1398px 299px #FFF , 675px 1177px #FFF , 1508px 1582px #FFF , 1688px 777px #FFF , 287px 575px #FFF , 1981px 1776px #FFF , 1801px 1261px #FFF , 1560px 762px #FFF , 817px 242px #FFF , 1865px 19px #FFF , 1451px 1494px #FFF , 1328px 855px #FFF , 450px 1641px #FFF , 1004px 1941px #FFF , 1847px 1814px #FFF , 149px 428px #FFF , 1521px 1598px #FFF , 1556px 555px #FFF , 293px 1209px #FFF , 140px 20px #FFF , 1984px 578px #FFF , 1161px 1175px #FFF , 468px 648px #FFF , 1286px 1493px #FFF , 822px 1451px #FFF , 456px 579px #FFF , 247px 448px #FFF , 104px 391px #FFF , 1303px 285px #FFF , 381px 1580px #FFF , 919px 422px #FFF , 91px 1437px #FFF , 1531px 1246px #FFF , 1262px 947px #FFF , 847px 1230px #FFF , 1879px 1704px #FFF , 1103px 1654px #FFF , 1068px 1340px #FFF , 995px 1361px #FFF , 1217px 244px #FFF , 33px 683px #FFF , 1059px 1989px #FFF , 982px 135px #FFF , 1917px 517px #FFF , 1716px 574px #FFF , 1111px 580px #FFF , 1255px 1856px #FFF , 1417px 1623px #FFF , 1163px 1px #FFF , 46px 1831px #FFF , 661px 850px #FFF , 1679px 528px #FFF , 670px 474px #FFF , 1377px 1138px #FFF , 1575px 1510px #FFF , 1373px 755px #FFF , 944px 359px #FFF , 1235px 1651px #FFF , 230px 525px #FFF , 853px 1298px #FFF , 1874px 966px #FFF , 1255px 279px #FFF , 387px 825px #FFF , 1030px 1384px #FFF , 1169px 642px #FFF , 1362px 945px #FFF , 1077px 1174px #FFF , 1142px 145px #FFF , 799px 721px #FFF , 795px 121px #FFF , 231px 307px #FFF , 1688px 1947px #FFF , 345px 400px #FFF , 696px 1065px #FFF , 793px 1716px #FFF , 651px 709px #FFF , 72px 1715px #FFF , 655px 547px #FFF , 1261px 1937px #FFF , 1971px 439px #FFF , 1032px 373px #FFF , 1081px 1425px #FFF , 322px 952px #FFF , 1632px 288px #FFF , 1937px 1377px #FFF , 1617px 443px #FFF , 22px 1423px #FFF , 930px 1135px #FFF , 327px 899px #FFF , 1177px 34px #FFF , 697px 1347px #FFF , 1338px 473px #FFF , 1474px 1916px #FFF , 1463px 1976px #FFF , 1902px 227px #FFF , 1344px 1600px #FFF , 1256px 1113px #FFF , 588px 771px #FFF , 1113px 1127px #FFF;
  animation: animStar 50s linear infinite; }

#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1582px 1176px #FFF , 1984px 680px #FFF , 629px 1641px #FFF , 139px 1833px #FFF , 443px 1131px #FFF , 184px 1897px #FFF , 1576px 662px #FFF , 1124px 125px #FFF , 552px 1984px #FFF , 951px 1759px #FFF , 1686px 1119px #FFF , 1274px 596px #FFF , 561px 11px #FFF , 1911px 362px #FFF , 1739px 248px #FFF , 1045px 1204px #FFF , 1094px 506px #FFF , 1531px 1313px #FFF , 1137px 1366px #FFF , 1106px 967px #FFF , 547px 1273px #FFF , 1597px 644px #FFF , 80px 75px #FFF , 258px 181px #FFF , 626px 1675px #FFF , 1428px 738px #FFF , 1930px 318px #FFF , 1482px 194px #FFF , 1807px 417px #FFF , 527px 1544px #FFF , 295px 1146px #FFF , 1237px 1591px #FFF , 1079px 1627px #FFF , 1929px 618px #FFF , 1289px 1315px #FFF , 932px 212px #FFF , 1397px 264px #FFF , 88px 1471px #FFF , 230px 1994px #FFF , 432px 1783px #FFF , 1934px 1601px #FFF , 744px 1722px #FFF , 1551px 387px #FFF , 1094px 318px #FFF , 218px 130px #FFF , 285px 399px #FFF , 1912px 884px #FFF , 863px 365px #FFF , 409px 1204px #FFF , 494px 478px #FFF , 1101px 942px #FFF , 1756px 1340px #FFF , 281px 1043px #FFF , 1000px 153px #FFF , 882px 906px #FFF , 1532px 615px #FFF , 678px 526px #FFF , 1659px 1602px #FFF , 1081px 922px #FFF , 1268px 1946px #FFF , 519px 1128px #FFF , 1588px 1498px #FFF , 286px 1452px #FFF , 1000px 1803px #FFF , 897px 827px #FFF , 978px 128px #FFF , 1722px 1034px #FFF , 1073px 1420px #FFF , 1613px 603px #FFF , 11px 691px #FFF , 704px 1334px #FFF , 171px 1494px #FFF , 622px 91px #FFF , 1391px 561px #FFF , 1740px 947px #FFF , 382px 600px #FFF , 84px 1160px #FFF , 557px 362px #FFF , 1176px 1740px #FFF , 1384px 1815px #FFF , 1369px 1416px #FFF , 1590px 970px #FFF , 379px 492px #FFF , 176px 1891px #FFF , 295px 1542px #FFF , 1279px 1205px #FFF , 538px 1058px #FFF , 443px 881px #FFF , 1088px 345px #FFF , 1950px 1008px #FFF , 1023px 1178px #FFF , 1506px 784px #FFF , 243px 113px #FFF , 1336px 364px #FFF , 1950px 646px #FFF , 311px 142px #FFF , 583px 755px #FFF , 1697px 140px #FFF , 1134px 1061px #FFF , 610px 973px #FFF , 1510px 1920px #FFF , 1366px 1257px #FFF , 594px 1493px #FFF , 165px 1224px #FFF , 1326px 1560px #FFF , 1802px 1222px #FFF , 905px 1614px #FFF , 1490px 1070px #FFF , 941px 444px #FFF , 1370px 435px #FFF , 128px 642px #FFF , 225px 565px #FFF , 73px 291px #FFF , 727px 1418px #FFF , 1119px 124px #FFF , 1245px 1497px #FFF , 952px 1600px #FFF , 824px 1295px #FFF , 1188px 1286px #FFF , 1861px 645px #FFF , 1187px 1283px #FFF , 1039px 382px #FFF , 1438px 597px #FFF , 1473px 1393px #FFF , 1054px 188px #FFF , 749px 535px #FFF , 1235px 154px #FFF , 825px 1257px #FFF , 447px 133px #FFF , 1504px 1533px #FFF , 1904px 1176px #FFF , 1572px 754px #FFF , 101px 1573px #FFF , 760px 496px #FFF , 462px 1463px #FFF , 1813px 611px #FFF , 385px 771px #FFF , 1054px 1225px #FFF , 751px 1416px #FFF , 1038px 1666px #FFF , 875px 1257px #FFF , 1777px 1449px #FFF , 1441px 1069px #FFF , 72px 330px #FFF , 1812px 958px #FFF , 299px 830px #FFF , 1342px 1721px #FFF , 1032px 1686px #FFF , 1056px 123px #FFF , 1906px 244px #FFF , 1851px 132px #FFF , 1938px 67px #FFF , 1066px 1165px #FFF , 650px 538px #FFF , 1024px 698px #FFF , 882px 341px #FFF , 10px 1187px #FFF , 392px 515px #FFF , 701px 1914px #FFF , 1785px 164px #FFF , 1012px 822px #FFF , 653px 1362px #FFF , 995px 706px #FFF , 1360px 1093px #FFF , 1999px 4px #FFF , 451px 115px #FFF , 1427px 1849px #FFF , 1003px 1904px #FFF , 366px 1693px #FFF , 876px 464px #FFF , 1398px 946px #FFF , 135px 848px #FFF , 1026px 1182px #FFF , 1675px 1564px #FFF , 1219px 55px #FFF , 1741px 1793px #FFF , 592px 615px #FFF , 302px 328px #FFF , 892px 404px #FFF , 1881px 1734px #FFF , 1790px 1694px #FFF , 773px 1837px #FFF , 231px 451px #FFF , 1275px 1861px #FFF , 1391px 1047px #FFF , 1576px 341px #FFF , 362px 112px #FFF , 1198px 935px #FFF , 1396px 956px #FFF , 500px 501px #FFF , 1038px 1604px #FFF , 1467px 1302px #FFF , 1969px 534px #FFF , 1812px 1893px #FFF , 935px 780px #FFF , 1306px 872px #FFF , 1826px 774px #FFF , 1px 1416px #FFF , 949px 15px #FFF , 1818px 1963px #FFF , 259px 1795px #FFF , 1735px 1319px #FFF , 862px 1453px #FFF , 1315px 1875px #FFF , 193px 1728px #FFF , 81px 1483px #FFF , 1760px 506px #FFF , 1778px 351px #FFF , 1504px 1788px #FFF , 1195px 698px #FFF , 1417px 1424px #FFF , 1939px 1845px #FFF , 587px 91px #FFF , 1724px 476px #FFF , 1122px 1211px #FFF , 1645px 760px #FFF , 61px 286px #FFF , 1624px 1709px #FFF , 1726px 64px #FFF , 623px 459px #FFF , 396px 1857px #FFF , 691px 300px #FFF , 200px 80px #FFF , 421px 855px #FFF , 582px 620px #FFF , 1854px 1764px #FFF , 1926px 151px #FFF , 1301px 882px #FFF , 919px 909px #FFF , 735px 992px #FFF , 1667px 1357px #FFF , 1496px 321px #FFF , 762px 505px #FFF , 686px 1448px #FFF , 522px 780px #FFF , 660px 710px #FFF , 1133px 531px #FFF , 1161px 367px #FFF , 966px 1238px #FFF , 1269px 1409px #FFF , 687px 1940px #FFF , 593px 986px #FFF , 3px 636px #FFF , 989px 1055px #FFF , 491px 797px #FFF , 1776px 1356px #FFF , 546px 527px #FFF , 1911px 1508px #FFF , 1375px 1462px #FFF , 612px 22px #FFF , 549px 434px #FFF , 1903px 535px #FFF , 1944px 577px #FFF , 668px 666px #FFF , 1104px 1001px #FFF , 546px 562px #FFF , 80px 100px #FFF , 306px 1647px #FFF , 883px 1071px #FFF , 1933px 790px #FFF , 1645px 818px #FFF , 1647px 64px #FFF , 1px 565px #FFF , 1173px 213px #FFF , 1528px 1148px #FFF , 769px 1253px #FFF , 1241px 1627px #FFF , 772px 1472px #FFF , 1544px 1957px #FFF , 851px 1238px #FFF , 126px 504px #FFF , 1837px 634px #FFF , 1224px 849px #FFF , 1465px 1063px #FFF , 761px 1301px #FFF , 1736px 1629px #FFF , 273px 1571px #FFF , 1549px 1879px #FFF , 238px 1930px #FFF , 1951px 464px #FFF , 212px 1093px #FFF , 1850px 1291px #FFF , 949px 1841px #FFF , 1646px 1180px #FFF , 1165px 1781px #FFF , 1654px 1328px #FFF , 1134px 921px #FFF , 1175px 1860px #FFF , 1283px 1918px #FFF , 785px 1009px #FFF , 384px 1894px #FFF , 1682px 885px #FFF , 560px 1221px #FFF , 864px 1719px #FFF , 1166px 858px #FFF , 520px 1617px #FFF , 1077px 1900px #FFF , 1742px 325px #FFF , 1548px 1694px #FFF , 1976px 1997px #FFF , 182px 1085px #FFF , 1579px 1979px #FFF , 1021px 1627px #FFF , 1797px 161px #FFF , 554px 1936px #FFF , 364px 451px #FFF , 359px 874px #FFF , 1371px 163px #FFF , 952px 1503px #FFF , 138px 301px #FFF , 876px 101px #FFF , 1447px 839px #FFF , 1191px 66px #FFF , 671px 598px #FFF , 1696px 1220px #FFF , 505px 408px #FFF , 1188px 1994px #FFF , 1961px 1381px #FFF , 1069px 961px #FFF , 1539px 778px #FFF , 1084px 1342px #FFF , 600px 1143px #FFF , 1690px 511px #FFF , 1129px 41px #FFF , 210px 834px #FFF , 872px 575px #FFF , 688px 754px #FFF , 1905px 126px #FFF , 99px 163px #FFF , 1863px 266px #FFF , 703px 1188px #FFF , 715px 352px #FFF , 980px 478px #FFF , 524px 1899px #FFF , 595px 1522px #FFF , 1089px 1684px #FFF , 947px 312px #FFF , 1845px 58px #FFF , 1202px 73px #FFF , 606px 1631px #FFF , 816px 1544px #FFF , 519px 1082px #FFF , 160px 1254px #FFF , 1054px 118px #FFF , 415px 1176px #FFF , 993px 1179px #FFF , 434px 284px #FFF , 1602px 343px #FFF , 1413px 1655px #FFF , 991px 1745px #FFF , 1275px 1901px #FFF , 1160px 1543px #FFF , 1430px 1411px #FFF , 1185px 312px #FFF , 909px 759px #FFF , 1650px 1163px #FFF , 1419px 1443px #FFF , 1247px 360px #FFF , 1119px 1024px #FFF , 1254px 57px #FFF , 901px 270px #FFF , 1855px 134px #FFF , 1144px 1248px #FFF , 1874px 1896px #FFF , 693px 1811px #FFF , 429px 1613px #FFF , 1076px 1873px #FFF , 227px 602px #FFF , 1249px 568px #FFF , 1512px 1519px #FFF , 1655px 1746px #FFF , 1039px 1657px #FFF , 396px 1868px #FFF , 1559px 1214px #FFF , 1102px 1875px #FFF , 1252px 1189px #FFF , 1894px 234px #FFF , 1072px 436px #FFF , 726px 570px #FFF , 334px 1235px #FFF , 1476px 1831px #FFF , 717px 1750px #FFF , 767px 1061px #FFF , 825px 1380px #FFF , 1701px 1999px #FFF , 1631px 1442px #FFF , 951px 568px #FFF , 942px 1421px #FFF , 796px 565px #FFF , 1223px 603px #FFF , 683px 660px #FFF , 431px 1723px #FFF , 894px 1240px #FFF , 1741px 1409px #FFF , 1329px 1304px #FFF , 13px 1991px #FFF , 1931px 452px #FFF , 308px 1742px #FFF , 1113px 139px #FFF , 1400px 1026px #FFF , 1131px 540px #FFF , 349px 1041px #FFF , 226px 282px #FFF , 246px 1222px #FFF , 1837px 637px #FFF , 1900px 1561px #FFF , 494px 379px #FFF , 45px 53px #FFF , 1799px 1185px #FFF , 665px 247px #FFF , 377px 267px #FFF , 825px 815px #FFF , 1795px 486px #FFF , 722px 454px #FFF , 1282px 1099px #FFF , 115px 3px #FFF , 1527px 503px #FFF , 1855px 539px #FFF , 1658px 800px #FFF , 756px 852px #FFF , 855px 310px #FFF , 125px 465px #FFF , 787px 736px #FFF , 375px 616px #FFF , 1497px 49px #FFF , 81px 205px #FFF , 1326px 173px #FFF , 1582px 1037px #FFF , 166px 403px #FFF , 1551px 1277px #FFF , 1807px 604px #FFF , 1100px 224px #FFF , 1396px 1238px #FFF , 869px 320px #FFF , 1777px 1524px #FFF , 24px 627px #FFF , 1536px 597px #FFF , 1738px 1876px #FFF , 718px 1238px #FFF , 915px 1738px #FFF , 1509px 1452px #FFF , 1608px 1724px #FFF , 1533px 1987px #FFF , 347px 268px #FFF , 1490px 247px #FFF , 1478px 824px #FFF , 1145px 510px #FFF , 1446px 189px #FFF , 1460px 864px #FFF , 341px 1378px #FFF , 608px 612px #FFF , 1320px 1788px #FFF , 22px 1314px #FFF , 372px 187px #FFF , 1759px 1691px #FFF , 1984px 482px #FFF , 328px 144px #FFF , 1470px 640px #FFF , 695px 1855px #FFF , 1491px 553px #FFF , 126px 1399px #FFF , 1916px 1777px #FFF , 83px 1257px #FFF , 234px 1667px #FFF , 839px 702px #FFF , 107px 131px #FFF , 1766px 1602px #FFF , 1451px 783px #FFF , 599px 154px #FFF , 1197px 1661px #FFF , 637px 930px #FFF , 296px 320px #FFF , 1005px 243px #FFF , 146px 1759px #FFF , 1335px 1368px #FFF , 1035px 1873px #FFF , 1069px 1523px #FFF , 679px 473px #FFF , 533px 1638px #FFF , 1183px 1560px #FFF , 1268px 1220px #FFF , 285px 654px #FFF , 1573px 950px #FFF , 1151px 931px #FFF , 286px 233px #FFF , 1110px 1886px #FFF , 76px 269px #FFF , 788px 1222px #FFF , 1300px 1658px #FFF , 742px 1428px #FFF , 475px 1146px #FFF , 1506px 530px #FFF , 1160px 673px #FFF , 1992px 37px #FFF , 22px 1220px #FFF , 798px 320px #FFF , 1795px 1798px #FFF , 161px 1658px #FFF , 447px 1820px #FFF , 1463px 1158px #FFF , 1403px 1679px #FFF , 826px 192px #FFF , 526px 1902px #FFF , 53px 1130px #FFF , 1207px 1486px #FFF , 1796px 286px #FFF , 287px 474px #FFF , 346px 1116px #FFF , 1670px 212px #FFF , 748px 572px #FFF , 421px 223px #FFF , 1112px 5px #FFF , 255px 1696px #FFF , 1734px 1930px #FFF , 1376px 411px #FFF , 8px 1144px #FFF , 1873px 750px #FFF , 1632px 1583px #FFF , 1026px 1384px #FFF , 86px 1623px #FFF , 602px 1241px #FFF , 1514px 1866px #FFF , 189px 1335px #FFF , 1252px 1479px #FFF , 881px 1838px #FFF , 1922px 703px #FFF , 1772px 1481px #FFF , 58px 1390px #FFF , 351px 1628px #FFF , 212px 1849px #FFF , 1451px 1098px #FFF , 1295px 2000px #FFF , 97px 472px #FFF , 871px 202px #FFF , 567px 1552px #FFF , 500px 591px #FFF , 787px 556px #FFF , 738px 1646px #FFF , 1924px 986px #FFF , 1842px 1206px #FFF , 971px 824px #FFF , 1799px 685px #FFF , 1989px 1225px #FFF , 1521px 1310px #FFF , 1956px 491px #FFF , 335px 1562px #FFF , 1520px 1646px #FFF , 1196px 229px #FFF , 1660px 387px #FFF , 995px 708px #FFF , 1281px 370px #FFF , 1783px 1783px #FFF , 719px 969px #FFF , 1743px 51px #FFF , 1785px 75px #FFF , 916px 128px #FFF , 579px 1466px #FFF , 1113px 1335px #FFF , 1525px 1294px #FFF , 42px 1562px #FFF , 1122px 1991px #FFF , 1108px 1323px #FFF , 1428px 449px #FFF , 479px 1431px #FFF , 294px 1621px #FFF , 1159px 1236px #FFF , 624px 1289px #FFF , 376px 385px #FFF , 1418px 1039px #FFF , 1295px 549px #FFF , 1306px 882px #FFF , 494px 420px #FFF , 284px 1550px #FFF , 578px 1522px #FFF , 148px 1078px #FFF , 388px 485px #FFF , 966px 338px #FFF , 1995px 1694px #FFF , 1504px 146px #FFF , 1232px 121px #FFF , 1650px 1119px #FFF , 1366px 832px #FFF , 1231px 1574px #FFF , 1080px 1437px #FFF , 1254px 1581px #FFF , 659px 1125px #FFF , 459px 1537px #FFF , 1776px 372px #FFF , 36px 139px #FFF , 946px 1333px #FFF , 1746px 1032px #FFF , 2px 66px #FFF , 1380px 1520px #FFF , 804px 1087px #FFF , 1384px 181px #FFF , 1919px 828px #FFF , 202px 1122px #FFF , 1762px 833px #FFF , 1461px 1868px #FFF , 1421px 1803px #FFF , 287px 55px #FFF , 1398px 299px #FFF , 675px 1177px #FFF , 1508px 1582px #FFF , 1688px 777px #FFF , 287px 575px #FFF , 1981px 1776px #FFF , 1801px 1261px #FFF , 1560px 762px #FFF , 817px 242px #FFF , 1865px 19px #FFF , 1451px 1494px #FFF , 1328px 855px #FFF , 450px 1641px #FFF , 1004px 1941px #FFF , 1847px 1814px #FFF , 149px 428px #FFF , 1521px 1598px #FFF , 1556px 555px #FFF , 293px 1209px #FFF , 140px 20px #FFF , 1984px 578px #FFF , 1161px 1175px #FFF , 468px 648px #FFF , 1286px 1493px #FFF , 822px 1451px #FFF , 456px 579px #FFF , 247px 448px #FFF , 104px 391px #FFF , 1303px 285px #FFF , 381px 1580px #FFF , 919px 422px #FFF , 91px 1437px #FFF , 1531px 1246px #FFF , 1262px 947px #FFF , 847px 1230px #FFF , 1879px 1704px #FFF , 1103px 1654px #FFF , 1068px 1340px #FFF , 995px 1361px #FFF , 1217px 244px #FFF , 33px 683px #FFF , 1059px 1989px #FFF , 982px 135px #FFF , 1917px 517px #FFF , 1716px 574px #FFF , 1111px 580px #FFF , 1255px 1856px #FFF , 1417px 1623px #FFF , 1163px 1px #FFF , 46px 1831px #FFF , 661px 850px #FFF , 1679px 528px #FFF , 670px 474px #FFF , 1377px 1138px #FFF , 1575px 1510px #FFF , 1373px 755px #FFF , 944px 359px #FFF , 1235px 1651px #FFF , 230px 525px #FFF , 853px 1298px #FFF , 1874px 966px #FFF , 1255px 279px #FFF , 387px 825px #FFF , 1030px 1384px #FFF , 1169px 642px #FFF , 1362px 945px #FFF , 1077px 1174px #FFF , 1142px 145px #FFF , 799px 721px #FFF , 795px 121px #FFF , 231px 307px #FFF , 1688px 1947px #FFF , 345px 400px #FFF , 696px 1065px #FFF , 793px 1716px #FFF , 651px 709px #FFF , 72px 1715px #FFF , 655px 547px #FFF , 1261px 1937px #FFF , 1971px 439px #FFF , 1032px 373px #FFF , 1081px 1425px #FFF , 322px 952px #FFF , 1632px 288px #FFF , 1937px 1377px #FFF , 1617px 443px #FFF , 22px 1423px #FFF , 930px 1135px #FFF , 327px 899px #FFF , 1177px 34px #FFF , 697px 1347px #FFF , 1338px 473px #FFF , 1474px 1916px #FFF , 1463px 1976px #FFF , 1902px 227px #FFF , 1344px 1600px #FFF , 1256px 1113px #FFF , 588px 771px #FFF , 1113px 1127px #FFF; }

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 242px 392px #FFF , 966px 1143px #FFF , 1653px 352px #FFF , 1991px 161px #FFF , 543px 1446px #FFF , 321px 1431px #FFF , 1453px 262px #FFF , 479px 1292px #FFF , 537px 113px #FFF , 1125px 1591px #FFF , 1452px 444px #FFF , 327px 463px #FFF , 265px 34px #FFF , 787px 1543px #FFF , 55px 327px #FFF , 589px 96px #FFF , 416px 902px #FFF , 1849px 1766px #FFF , 582px 597px #FFF , 1658px 676px #FFF , 1768px 600px #FFF , 1817px 492px #FFF , 1433px 463px #FFF , 278px 472px #FFF , 1206px 1650px #FFF , 347px 1625px #FFF , 281px 1307px #FFF , 119px 1877px #FFF , 246px 1186px #FFF , 1877px 1138px #FFF , 1407px 1540px #FFF , 1380px 1162px #FFF , 864px 706px #FFF , 15px 197px #FFF , 1257px 349px #FFF , 709px 1767px #FFF , 1887px 379px #FFF , 1806px 1183px #FFF , 1616px 1188px #FFF , 365px 1213px #FFF , 1068px 1259px #FFF , 1117px 1171px #FFF , 1700px 661px #FFF , 1659px 699px #FFF , 1528px 1760px #FFF , 484px 1352px #FFF , 1558px 1583px #FFF , 24px 278px #FFF , 1451px 1792px #FFF , 1417px 1008px #FFF , 1435px 1026px #FFF , 1197px 574px #FFF , 6px 17px #FFF , 816px 761px #FFF , 300px 1915px #FFF , 1975px 1304px #FFF , 667px 170px #FFF , 487px 1691px #FFF , 512px 1394px #FFF , 619px 1283px #FFF , 762px 1124px #FFF , 915px 1508px #FFF , 657px 1800px #FFF , 904px 1255px #FFF , 1749px 1529px #FFF , 1352px 996px #FFF , 1530px 1300px #FFF , 1336px 509px #FFF , 22px 509px #FFF , 1348px 644px #FFF , 1155px 855px #FFF , 1357px 1439px #FFF , 1845px 1401px #FFF , 1233px 1120px #FFF , 1490px 301px #FFF , 463px 619px #FFF , 243px 170px #FFF , 103px 263px #FFF , 1998px 1740px #FFF , 1053px 1039px #FFF , 1943px 496px #FFF , 1756px 1999px #FFF , 914px 688px #FFF , 1571px 851px #FFF , 482px 760px #FFF , 1295px 251px #FFF , 1590px 1061px #FFF , 1713px 758px #FFF , 1026px 1470px #FFF , 79px 1968px #FFF , 1329px 1612px #FFF , 1477px 1432px #FFF , 901px 1692px #FFF , 1352px 933px #FFF , 625px 1886px #FFF , 37px 553px #FFF , 644px 1601px #FFF , 1191px 1773px #FFF , 80px 1316px #FFF , 179px 1358px #FFF , 1080px 1610px #FFF , 1714px 425px #FFF , 1412px 260px #FFF , 1597px 1380px #FFF , 1449px 1421px #FFF , 1188px 1708px #FFF , 1659px 1971px #FFF , 1591px 1907px #FFF , 1295px 1652px #FFF , 62px 969px #FFF , 1458px 578px #FFF , 1101px 596px #FFF , 128px 1978px #FFF , 426px 1512px #FFF , 1622px 1339px #FFF , 190px 541px #FFF , 1338px 857px #FFF , 1609px 89px #FFF , 85px 35px #FFF , 1067px 1311px #FFF , 1916px 1736px #FFF , 1672px 176px #FFF , 847px 472px #FFF , 943px 148px #FFF , 533px 1708px #FFF , 1343px 815px #FFF , 997px 1038px #FFF , 1801px 121px #FFF , 218px 1038px #FFF , 876px 322px #FFF , 842px 671px #FFF , 587px 994px #FFF , 182px 668px #FFF , 813px 646px #FFF , 545px 710px #FFF , 653px 1513px #FFF , 1480px 1674px #FFF , 932px 324px #FFF , 683px 1419px #FFF , 712px 1956px #FFF , 514px 1174px #FFF , 1816px 188px #FFF , 330px 1375px #FFF , 1322px 1786px #FFF , 1156px 1201px #FFF , 1175px 1977px #FFF , 1035px 496px #FFF , 207px 59px #FFF , 271px 676px #FFF , 1342px 967px #FFF , 1390px 1403px #FFF , 279px 529px #FFF , 521px 793px #FFF , 989px 414px #FFF , 1534px 597px #FFF , 741px 907px #FFF , 1259px 721px #FFF , 1099px 1795px #FFF , 1535px 1566px #FFF , 13px 1165px #FFF , 1144px 829px #FFF , 1429px 1904px #FFF , 835px 969px #FFF , 1747px 1658px #FFF , 825px 255px #FFF , 652px 1789px #FFF , 995px 1661px #FFF , 1675px 883px #FFF , 536px 12px #FFF , 1416px 963px #FFF , 1935px 810px #FFF , 1388px 213px #FFF , 1006px 971px #FFF , 1408px 704px #FFF , 128px 1240px #FFF , 499px 464px #FFF , 1490px 271px #FFF , 1609px 646px #FFF , 148px 442px #FFF , 333px 488px #FFF , 1193px 700px #FFF , 1247px 1619px #FFF , 1275px 1882px #FFF , 613px 487px #FFF , 1818px 1970px #FFF , 1607px 356px #FFF , 920px 1117px #FFF , 854px 491px #FFF , 1013px 177px #FFF , 453px 500px #FFF , 160px 1530px #FFF , 1588px 153px #FFF , 366px 1450px #FFF , 964px 525px #FFF , 1838px 1892px #FFF , 956px 1085px #FFF , 951px 840px #FFF , 895px 442px #FFF , 943px 367px #FFF , 1428px 755px #FFF;
  animation: animStar 100s linear infinite; }

#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 242px 392px #FFF , 966px 1143px #FFF , 1653px 352px #FFF , 1991px 161px #FFF , 543px 1446px #FFF , 321px 1431px #FFF , 1453px 262px #FFF , 479px 1292px #FFF , 537px 113px #FFF , 1125px 1591px #FFF , 1452px 444px #FFF , 327px 463px #FFF , 265px 34px #FFF , 787px 1543px #FFF , 55px 327px #FFF , 589px 96px #FFF , 416px 902px #FFF , 1849px 1766px #FFF , 582px 597px #FFF , 1658px 676px #FFF , 1768px 600px #FFF , 1817px 492px #FFF , 1433px 463px #FFF , 278px 472px #FFF , 1206px 1650px #FFF , 347px 1625px #FFF , 281px 1307px #FFF , 119px 1877px #FFF , 246px 1186px #FFF , 1877px 1138px #FFF , 1407px 1540px #FFF , 1380px 1162px #FFF , 864px 706px #FFF , 15px 197px #FFF , 1257px 349px #FFF , 709px 1767px #FFF , 1887px 379px #FFF , 1806px 1183px #FFF , 1616px 1188px #FFF , 365px 1213px #FFF , 1068px 1259px #FFF , 1117px 1171px #FFF , 1700px 661px #FFF , 1659px 699px #FFF , 1528px 1760px #FFF , 484px 1352px #FFF , 1558px 1583px #FFF , 24px 278px #FFF , 1451px 1792px #FFF , 1417px 1008px #FFF , 1435px 1026px #FFF , 1197px 574px #FFF , 6px 17px #FFF , 816px 761px #FFF , 300px 1915px #FFF , 1975px 1304px #FFF , 667px 170px #FFF , 487px 1691px #FFF , 512px 1394px #FFF , 619px 1283px #FFF , 762px 1124px #FFF , 915px 1508px #FFF , 657px 1800px #FFF , 904px 1255px #FFF , 1749px 1529px #FFF , 1352px 996px #FFF , 1530px 1300px #FFF , 1336px 509px #FFF , 22px 509px #FFF , 1348px 644px #FFF , 1155px 855px #FFF , 1357px 1439px #FFF , 1845px 1401px #FFF , 1233px 1120px #FFF , 1490px 301px #FFF , 463px 619px #FFF , 243px 170px #FFF , 103px 263px #FFF , 1998px 1740px #FFF , 1053px 1039px #FFF , 1943px 496px #FFF , 1756px 1999px #FFF , 914px 688px #FFF , 1571px 851px #FFF , 482px 760px #FFF , 1295px 251px #FFF , 1590px 1061px #FFF , 1713px 758px #FFF , 1026px 1470px #FFF , 79px 1968px #FFF , 1329px 1612px #FFF , 1477px 1432px #FFF , 901px 1692px #FFF , 1352px 933px #FFF , 625px 1886px #FFF , 37px 553px #FFF , 644px 1601px #FFF , 1191px 1773px #FFF , 80px 1316px #FFF , 179px 1358px #FFF , 1080px 1610px #FFF , 1714px 425px #FFF , 1412px 260px #FFF , 1597px 1380px #FFF , 1449px 1421px #FFF , 1188px 1708px #FFF , 1659px 1971px #FFF , 1591px 1907px #FFF , 1295px 1652px #FFF , 62px 969px #FFF , 1458px 578px #FFF , 1101px 596px #FFF , 128px 1978px #FFF , 426px 1512px #FFF , 1622px 1339px #FFF , 190px 541px #FFF , 1338px 857px #FFF , 1609px 89px #FFF , 85px 35px #FFF , 1067px 1311px #FFF , 1916px 1736px #FFF , 1672px 176px #FFF , 847px 472px #FFF , 943px 148px #FFF , 533px 1708px #FFF , 1343px 815px #FFF , 997px 1038px #FFF , 1801px 121px #FFF , 218px 1038px #FFF , 876px 322px #FFF , 842px 671px #FFF , 587px 994px #FFF , 182px 668px #FFF , 813px 646px #FFF , 545px 710px #FFF , 653px 1513px #FFF , 1480px 1674px #FFF , 932px 324px #FFF , 683px 1419px #FFF , 712px 1956px #FFF , 514px 1174px #FFF , 1816px 188px #FFF , 330px 1375px #FFF , 1322px 1786px #FFF , 1156px 1201px #FFF , 1175px 1977px #FFF , 1035px 496px #FFF , 207px 59px #FFF , 271px 676px #FFF , 1342px 967px #FFF , 1390px 1403px #FFF , 279px 529px #FFF , 521px 793px #FFF , 989px 414px #FFF , 1534px 597px #FFF , 741px 907px #FFF , 1259px 721px #FFF , 1099px 1795px #FFF , 1535px 1566px #FFF , 13px 1165px #FFF , 1144px 829px #FFF , 1429px 1904px #FFF , 835px 969px #FFF , 1747px 1658px #FFF , 825px 255px #FFF , 652px 1789px #FFF , 995px 1661px #FFF , 1675px 883px #FFF , 536px 12px #FFF , 1416px 963px #FFF , 1935px 810px #FFF , 1388px 213px #FFF , 1006px 971px #FFF , 1408px 704px #FFF , 128px 1240px #FFF , 499px 464px #FFF , 1490px 271px #FFF , 1609px 646px #FFF , 148px 442px #FFF , 333px 488px #FFF , 1193px 700px #FFF , 1247px 1619px #FFF , 1275px 1882px #FFF , 613px 487px #FFF , 1818px 1970px #FFF , 1607px 356px #FFF , 920px 1117px #FFF , 854px 491px #FFF , 1013px 177px #FFF , 453px 500px #FFF , 160px 1530px #FFF , 1588px 153px #FFF , 366px 1450px #FFF , 964px 525px #FFF , 1838px 1892px #FFF , 956px 1085px #FFF , 951px 840px #FFF , 895px 442px #FFF , 943px 367px #FFF , 1428px 755px #FFF; }

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1093px 1338px #FFF , 734px 1034px #FFF , 327px 823px #FFF , 1772px 483px #FFF , 1321px 163px #FFF , 158px 1859px #FFF , 946px 443px #FFF , 422px 1897px #FFF , 170px 1028px #FFF , 390px 753px #FFF , 1292px 1081px #FFF , 1652px 1610px #FFF , 1707px 146px #FFF , 333px 220px #FFF , 418px 1374px #FFF , 1559px 1992px #FFF , 308px 1710px #FFF , 1030px 619px #FFF , 566px 829px #FFF , 118px 1820px #FFF , 1889px 1965px #FFF , 1175px 1947px #FFF , 915px 1353px #FFF , 32px 772px #FFF , 1064px 723px #FFF , 374px 742px #FFF , 1674px 1845px #FFF , 852px 1597px #FFF , 646px 1277px #FFF , 1421px 1883px #FFF , 1692px 547px #FFF , 1212px 1704px #FFF , 1453px 1872px #FFF , 1791px 1636px #FFF , 333px 1907px #FFF , 1273px 306px #FFF , 1736px 1082px #FFF , 641px 53px #FFF , 1333px 456px #FFF , 1619px 1171px #FFF , 1732px 1631px #FFF , 1644px 750px #FFF , 1873px 951px #FFF , 282px 296px #FFF , 65px 1051px #FFF , 254px 545px #FFF , 373px 135px #FFF , 434px 801px #FFF , 1438px 167px #FFF , 558px 477px #FFF , 182px 976px #FFF , 599px 1494px #FFF , 424px 1636px #FFF , 252px 464px #FFF , 992px 332px #FFF , 30px 495px #FFF , 1812px 818px #FFF , 1464px 1227px #FFF , 440px 912px #FFF , 1159px 1589px #FFF , 1803px 415px #FFF , 1144px 75px #FFF , 914px 1325px #FFF , 526px 136px #FFF , 1970px 1095px #FFF , 570px 991px #FFF , 725px 1502px #FFF , 442px 1827px #FFF , 1003px 942px #FFF , 961px 1799px #FFF , 41px 1751px #FFF , 493px 1692px #FFF , 1635px 1689px #FFF , 102px 1040px #FFF , 893px 385px #FFF , 27px 398px #FFF , 385px 417px #FFF , 199px 173px #FFF , 1092px 1306px #FFF , 1296px 1311px #FFF , 1888px 854px #FFF , 141px 98px #FFF , 1381px 1075px #FFF , 874px 1858px #FFF , 1636px 145px #FFF , 124px 228px #FFF , 1125px 335px #FFF , 1201px 1637px #FFF , 1069px 116px #FFF , 1501px 1763px #FFF , 1004px 1906px #FFF , 914px 486px #FFF , 1213px 548px #FFF , 1405px 1503px #FFF , 592px 1756px #FFF , 66px 1760px #FFF , 267px 1694px #FFF , 1775px 647px #FFF , 1032px 1328px #FFF , 971px 1929px #FFF;
  animation: animStar 150s linear infinite; }

#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1093px 1338px #FFF , 734px 1034px #FFF , 327px 823px #FFF , 1772px 483px #FFF , 1321px 163px #FFF , 158px 1859px #FFF , 946px 443px #FFF , 422px 1897px #FFF , 170px 1028px #FFF , 390px 753px #FFF , 1292px 1081px #FFF , 1652px 1610px #FFF , 1707px 146px #FFF , 333px 220px #FFF , 418px 1374px #FFF , 1559px 1992px #FFF , 308px 1710px #FFF , 1030px 619px #FFF , 566px 829px #FFF , 118px 1820px #FFF , 1889px 1965px #FFF , 1175px 1947px #FFF , 915px 1353px #FFF , 32px 772px #FFF , 1064px 723px #FFF , 374px 742px #FFF , 1674px 1845px #FFF , 852px 1597px #FFF , 646px 1277px #FFF , 1421px 1883px #FFF , 1692px 547px #FFF , 1212px 1704px #FFF , 1453px 1872px #FFF , 1791px 1636px #FFF , 333px 1907px #FFF , 1273px 306px #FFF , 1736px 1082px #FFF , 641px 53px #FFF , 1333px 456px #FFF , 1619px 1171px #FFF , 1732px 1631px #FFF , 1644px 750px #FFF , 1873px 951px #FFF , 282px 296px #FFF , 65px 1051px #FFF , 254px 545px #FFF , 373px 135px #FFF , 434px 801px #FFF , 1438px 167px #FFF , 558px 477px #FFF , 182px 976px #FFF , 599px 1494px #FFF , 424px 1636px #FFF , 252px 464px #FFF , 992px 332px #FFF , 30px 495px #FFF , 1812px 818px #FFF , 1464px 1227px #FFF , 440px 912px #FFF , 1159px 1589px #FFF , 1803px 415px #FFF , 1144px 75px #FFF , 914px 1325px #FFF , 526px 136px #FFF , 1970px 1095px #FFF , 570px 991px #FFF , 725px 1502px #FFF , 442px 1827px #FFF , 1003px 942px #FFF , 961px 1799px #FFF , 41px 1751px #FFF , 493px 1692px #FFF , 1635px 1689px #FFF , 102px 1040px #FFF , 893px 385px #FFF , 27px 398px #FFF , 385px 417px #FFF , 199px 173px #FFF , 1092px 1306px #FFF , 1296px 1311px #FFF , 1888px 854px #FFF , 141px 98px #FFF , 1381px 1075px #FFF , 874px 1858px #FFF , 1636px 145px #FFF , 124px 228px #FFF , 1125px 335px #FFF , 1201px 1637px #FFF , 1069px 116px #FFF , 1501px 1763px #FFF , 1004px 1906px #FFF , 914px 486px #FFF , 1213px 548px #FFF , 1405px 1503px #FFF , 592px 1756px #FFF , 66px 1760px #FFF , 267px 1694px #FFF , 1775px 647px #FFF , 1032px 1328px #FFF , 971px 1929px #FFF; }

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px; }

#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

@keyframes animStar {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-2000px); } }

.about-me {
  background-color: #50505033;
  padding: 3.5rem;
  border-radius: 2rem;
  margin-top: 4rem; }

.technologies {
  margin-top: 2rem; }
  .technologies h2 {
    text-align: center; }
    @media (max-width: 576px) {
      .technologies h2 {
        font-size: 3.5rem; } }

.swiper {
  width: 100%;
  height: 300px; }

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .swiper-slide p {
    font-weight: 700; }

.proyects {
  margin-top: 6rem; }
  .proyects h2 {
    text-align: center; }
  .proyects__flex {
    display: flex;
    justify-content: space-around;
    gap: 3rem;
    margin-top: 4rem;
    background-color: #50505033;
    border-radius: 2rem;
    padding: 2rem; }
    @media (max-width: 760px) {
      .proyects__flex {
        flex-direction: column; } }
  .proyects__image {
    z-index: 100; }
  .proyects__data {
    display: flex;
    flex-direction: column; }
    .proyects__data__networks {
      display: flex;
      gap: 4rem;
      margin-top: 1rem; }
      @media (max-width: 760px) {
        .proyects__data__networks {
          justify-content: center; } }
      .proyects__data__networks a i {
        color: #dddddd;
        font-size: 2rem; }

.twitter-img {
  width: 150rem; }

.myapp-img {
  width: 113rem; }

.appturnos-img {
  width: 157rem; }

.todo-list {
  width: 97rem; }

.btn__proyects {
  display: flex;
  justify-content: center;
  margin-top: 4rem; }
